name: vs Edax

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: cpu
      run: cat /proc/cpuinfo
    - name: Setup Edax
      run: |
        pushd .
        cd ..
        git clone https://github.com/abulmo/edax-reversi.git
        cd edax-reversi
        mkdir -p bin
        cd src
        make build ARCH=native OS=linux
        cd ../bin
        cp lEdax-native lEdax-x64-modern
        cd ..
        curl -OL https://github.com/abulmo/edax-reversi/releases/download/v4.4/eval.7z
        p7zip -d -k eval.7z
        popd
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
        bundler-cache: false # runs 'bundle install' and caches installed gems automatically
    - name: Run duel edax
      continue-on-error: true # とにかくログを保存するとこまで行きたい
      id: dueledax
      run: cargo run --release --features=avx,withtt -- --duelext 5 --depth 10 --Edconf tools/edaxconfig.txt --verbose | tee > kifu/log.txt
    - name: duel result
      continue-on-error: true # とにかくログを保存するとこまで行きたい
      id: duel-result
      run: |
        tail -n 7 kifu/log.txt
        tail -n 7 >> $GITHUB_STEP_SUMMARY
        cat tools/header.txt > kifu/summary.html
        cat kifu/log.txt >> kifu/summary.html
        cat tools/footer.txt >> kifu/summary.html
        ruby tools/summaryduel.rb < kifu/log.txt > kifu/duelsummary.html
    - name: Set current datetime as env variable
      env:
        TZ: 'Asia/Tokyo' # タイムゾーン指定
      run: echo "CURRENT_DATETIME=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
    - name: Save artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dueledax_${{ env.CURRENT_DATETIME }}
        path: |
          kifu
    - name: check error duel vs edax
      if: ${{ steps.dueledax.outcome == 'failure' }}
      run: |
        echo ${{ steps.dueledax.outcome }} == 'failure'
        exit 1
