name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: cpu
      run: cat /proc/cpuinfo
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
        bundler-cache: false
    - name: Build
      continue-on-error: true # とにかく最後まで行きたい
      id: rubuild
      run: |
        cargo build --verbose
    - name: Run clippy
      continue-on-error: true # とにかく最後まで行きたい
      id: ruclippy
      run: cargo clippy --all-targets
    - name: Run tests
      continue-on-error: true # とにかく最後まで行きたい
      id: rutest
      run: cargo test --features=mate1,avx,withtt --verbose
    - name: check error run build
      if: ${{ steps.rubuild.outcome == 'failure' }}
      run: |
        echo ${{ steps.rubuild.outcome }} == 'failure'
        exit 1
    - name: check error run test
      if: ${{ steps.rutest.outcome == 'failure' }}
      run: |
        echo ${{ steps.rutest.outcome }} == 'failure'
        exit 1
    - name: Run bench
      run: cargo bench
    - name: Speed check search
      run: ruby ./tools/runspeedcheck.rb search
      env:
        FEATURES: '--features=mate1'
    - name: Speed check game
      run: ruby ./tools/runspeedcheck.rb game
      env:
        FEATURES: '--features=mate1'
    - name: Speed check search avx
      run: ruby ./tools/runspeedcheck.rb search
      env:
        FEATURES: '--features=mate1,avx'
    - name: Speed check game avx
      run: ruby ./tools/runspeedcheck.rb game
      env:
        FEATURES: '--features=mate1,avx'
    - name: Speed check search avx tt
      run: ruby ./tools/runspeedcheck.rb search
      env:
        FEATURES: '--features=mate1,avx,withtt'
    - name: Speed check game avx tt
      run: ruby ./tools/runspeedcheck.rb game
      env:
        FEATURES: '--features=mate1,avx,withtt'
    - name: check error run clippy
      if: ${{ steps.ruclippy.outcome == 'failure' }}
      run: |
        echo ${{ steps.ruclippy.outcome }} == 'failure'
        exit 1

  build_linux_arm:
    runs-on: ubuntu-24.04-arm
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v4
    - name: cpu
      run: cat /proc/cpuinfo
    - name: Set up Ruby
      continue-on-error: true # とにかく最後まで行きたい
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2'
        bundler-cache: false
    - name: Build
      continue-on-error: true # とにかく最後まで行きたい
      id: rubuild
      run: |
        cargo build --verbose
    - name: Run tests
      continue-on-error: true # とにかく最後まで行きたい
      id: rutest
      run: cargo test --verbose
    - name: check error run build
      if: ${{ steps.rubuild.outcome == 'failure' }}
      run: |
        echo ${{ steps.rubuild.outcome }} == 'failure'
        exit 1
    - name: check error run test
      if: ${{ steps.rutest.outcome == 'failure' }}
      run: |
        echo ${{ steps.rutest.outcome }} == 'failure'
        exit 1
    - name: Run bench
      run: cargo bench
    - name: Speed check search
      run: ruby ./tools/runspeedcheck.rb search
      env:
        FEATURES: '--features=mate1'
    - name: Speed check game
      run: ruby ./tools/runspeedcheck.rb game
      env:
        FEATURES: '--features=mate1'
    - name: Speed check search tt
      run: ruby ./tools/runspeedcheck.rb search
      env:
        FEATURES: '--features=mate1,withtt'
    - name: Speed check game tt
      run: ruby ./tools/runspeedcheck.rb game
      env:
        FEATURES: '--features=mate1,withtt'

  build_mac:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      continue-on-error: true # とにかく最後まで行きたい
      id: rubuild
      run: cargo build --verbose
    - name: Run clippy
      continue-on-error: true # とにかく最後まで行きたい
      id: ruclippy
      run: cargo clippy --all-targets
    - name: Run tests
      continue-on-error: true # とにかく最後まで行きたい
      id: rutest
      run: cargo test --verbose
    - name: check error run build
      if: ${{ steps.rubuild.outcome == 'failure' }}
      run: |
        echo ${{ steps.rubuild.outcome }} == 'failure'
        exit 1
    - name: check error run test
      if: ${{ steps.rutest.outcome == 'failure' }}
      run: |
        echo ${{ steps.rutest.outcome }} == 'failure'
        exit 1
    - name: Run bench
      run: cargo bench
    - name: Speed check search
      run: ruby ./tools/runspeedcheck.rb search
      env:
        FEATURES: '--features=mate1'
    - name: Speed check game
      run: ruby ./tools/runspeedcheck.rb game
      env:
        FEATURES: '--features=mate1'
    - name: Speed check search tt
      run: ruby ./tools/runspeedcheck.rb search
      env:
        FEATURES: '--features=mate1,withtt'
    - name: Speed check game tt
      run: ruby ./tools/runspeedcheck.rb game
      env:
        FEATURES: '--features=mate1,withtt'
    - name: check error run clippy
      if: ${{ steps.ruclippy.outcome == 'failure' }}
      run: |
        echo ${{ steps.ruclippy.outcome }} == 'failure'
        exit 1
